<section>
    <div class="container">
        <div class="about">
            <article>
                <div class="content">
                    <img src="/img/graduation-cap.png" alt="">
                    <div>
                        <h1>Sobre</h1>
                        <p>O Inapi nasceu com a crença de que a educação transforma a vida das pessoas e que o ensino de qualidade tem o poder de realizar sonhos.</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="content">
                    <img src="/img/boook.png" alt="">
                    <div>
                        <h1>Missão</h1>
                        <p>Promover com excelência o ensino e transformar a vida das pessoas mediante a concretização de sonhos.</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="content">
                    <img src="/img/book.png" alt="">
                    <div>
                        <h1>Visão</h1>
                        <p>Consolidação como preparatório referência para Concursos Públicos, Exame de Ordem e Atualização Profissional.</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="content">
                    <img src="/img/classroom.png" alt="">
                    <div>
                        <h1>Valores</h1>
                        <p>Através do desempenho de nossa missão, nosso instituto tem como valores a integridade, honestidade, competência, profissionalismo, o respeito e a valorização das pessoas e o comprometimento com o aluno.</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>