<%- include('header'); %>

    <%- include('slide'); %>

    <main class="mt-2">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <h1 class="category-notice-title">TRT</h1>
                    <div class="row mb-2">
                        <div class="col-4">
                            <article class="notice">
                                <img src="./img/course1.png" alt="">
                                <h1><a href="#">Exame da OAB Mapeado 1ª Fase – Kit completo</a></h1>
                                <p>O kit completo Exame da OAB Mapeado 1ª Fase é um material...</p>
                            </article>
                        </div>
                        <div class="col-4">
                            <article class="notice">
                                <img src="./img/course1.png" alt="">
                                <h1><a href="#">OAB altera regras de recurso na 1ª e 2ª Fase</a></h1>
                                <p>Confira as novas regras para interposição de recursos</p>
                            </article>
                        </div>
                        <div class="col-4">
                            <article class="notice">
                                <img src="./img/course1.png" alt="">
                                <h1><a href="#">Iniciou a maior e melhor Revisão Turbo para OAB do Brasil!</a></h1>
                                <p>Iniciou a maior e melhor revisão para a OAB do Brasil! Com...</p>
                            </article>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <a class="link-all" href="#">Ver todas</a>
                        </div>
                    </div>

                    <h1 class="category-notice-title">Concursos</h1>
                    <div class="row mb-2">
                        <div class="col-4">
                            <article class="notice">
                                <img src="./img/course1.png" alt="">
                                <h1><a href="#">Exame da OAB Mapeado 1ª Fase – Kit completo</a></h1>
                                <p>O kit completo Exame da OAB Mapeado 1ª Fase é um material...</p>
                            </article>
                        </div>
                        <div class="col-4">
                            <article class="notice">
                                <img src="./img/course1.png" alt="">
                                <h1><a href="#">OAB altera regras de recurso na 1ª e 2ª Fase</a></h1>
                                <p>Confira as novas regras para interposição de recursos</p>
                            </article>
                        </div>
                        <div class="col-4">
                            <article class="notice">
                                <img src="./img/course1.png" alt="">
                                <h1><a href="#">Iniciou a maior e melhor Revisão Turbo para OAB do Brasil!</a></h1>
                                <p>Iniciou a maior e melhor revisão para a OAB do Brasil! Com...</p>
                            </article>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <a class="link-all" href="#">Ver todas</a>
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </main>

<%- include('footer'); %>