<section>
    <div class="container">
        <div class="slide my-1">
            <div class="slide-buttons">
                <button class="slide-control"></button>
                <button class="slide-control"></button>
                <button class="slide-control active"></button>
                <button class="slide-control"></button>
                <button class="slide-control"></button>
            </div>
            <div class="slide-imgs">
                <img src="./img/slide.png" alt="">
            </div>
        </div>
    </div>
</section>