<section class="overflow-hidden py-3 border-top">
    <div class="container">
        <h1 class="text-center h2 text-blue-primary">Depoimentos</h1>
        <p class="text-center">Obrigado pelas felicitações</p>
        <div class="testimonials">
            <article class="testimonial">
                <div class="content">
                    <div class="header">
                        <img src="https://html-ceisc.s3-sa-east-1.amazonaws.com/site/public/depoimentos/thiago_goncalves.png" alt="">
                        <div>
                            <h1>Lucas Sousa Costa Castro</h1>
                            <p>Aluno Inapi</p>
                        </div>
                    </div>
                    <p class="text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </article>
            <article class="testimonial">
                <div class="content">
                    <div class="header">
                        <img src="https://html-ceisc.s3-sa-east-1.amazonaws.com/site/public/depoimentos/thiago_goncalves.png" alt="">
                        <div>
                            <h1>Lucas Sousa Costa Castro</h1>
                            <p>Aluno Inapi</p>
                        </div>
                    </div>
                    <p class="text">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </div>
            </article>
            <article class="testimonial">
                <div class="content">
                    <div class="header">
                        <img src="https://html-ceisc.s3-sa-east-1.amazonaws.com/site/public/depoimentos/thiago_goncalves.png" alt="">
                        <div>
                            <h1>Lucas Sousa Costa Castro</h1>
                            <p>Aluno Inapi</p>
                        </div>
                    </div>
                    <p class="text">Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                </div>
            </article>
            <article class="testimonial">
                <div class="content">
                    <div class="header">
                        <img src="https://html-ceisc.s3-sa-east-1.amazonaws.com/site/public/depoimentos/thiago_goncalves.png" alt="">
                        <div>
                            <h1>Lucas Sousa Costa Castro</h1>
                            <p>Aluno Inapi</p>
                        </div>
                    </div>
                    <p class="text">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </div>
            </article>
            <article class="testimonial">
                <div class="content">
                    <div class="header">
                        <img src="https://html-ceisc.s3-sa-east-1.amazonaws.com/site/public/depoimentos/thiago_goncalves.png" alt="">
                        <div>
                            <h1>Lucas Sousa Costa Castro</h1>
                            <p>Aluno Inapi</p>
                        </div>
                    </div>
                    <p class="text">Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                </div>
            </article>
            <article class="testimonial">
                <div class="content">
                    <div class="header">
                        <img src="https://html-ceisc.s3-sa-east-1.amazonaws.com/site/public/depoimentos/thiago_goncalves.png" alt="">
                        <div>
                            <h1>Lucas Sousa Costa Castro</h1>
                            <p>Aluno Inapi</p>
                        </div>
                    </div>
                    <p class="text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </article>
            <article class="testimonial">
                <div class="content">
                    <div class="header">
                        <img src="https://html-ceisc.s3-sa-east-1.amazonaws.com/site/public/depoimentos/thiago_goncalves.png" alt="">
                        <div>
                            <h1>Lucas Sousa Costa Castro</h1>
                            <p>Aluno Inapi</p>
                        </div>
                    </div>
                    <p class="text">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </div>
            </article>
            <article class="testimonial">
                <div class="content">
                    <div class="header">
                        <img src="https://html-ceisc.s3-sa-east-1.amazonaws.com/site/public/depoimentos/thiago_goncalves.png" alt="">
                        <div>
                            <h1>Lucas Sousa Costa Castro</h1>
                            <p>Aluno Inapi</p>
                        </div>
                    </div>
                    <p class="text">Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                </div>
            </article>
            <article class="testimonial">
                <div class="content">
                    <div class="header">
                        <img src="https://html-ceisc.s3-sa-east-1.amazonaws.com/site/public/depoimentos/thiago_goncalves.png" alt="">
                        <div>
                            <h1>Lucas Sousa Costa Castro</h1>
                            <p>Aluno Inapi</p>
                        </div>
                    </div>
                    <p class="text">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </div>
            </article>
            <article class="testimonial">
                <div class="content">
                    <div class="header">
                        <img src="https://html-ceisc.s3-sa-east-1.amazonaws.com/site/public/depoimentos/thiago_goncalves.png" alt="">
                        <div>
                            <h1>Lucas Sousa Costa Castro</h1>
                            <p>Aluno Inapi</p>
                        </div>
                    </div>
                    <p class="text">Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                </div>
            </article>
        </div>
        <div class="d-flex justify-content-end">
            <button id="btn-prev" class="btn-control prev">Previous</button>
            <button id="btn-next" class="btn-control next">Next</button>
        </div>
    </div>
</section>