/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

:root {
    --color-gray-primary: #4d4d4d;
    --color-green-primary: #09A599;
    --color-yellow-primary: #F6EC72;
    --color-blue-primary: #1684A7;
}

* { font-family: 'Montserrat', sans-serif !important; }

.about { margin: 0 -1rem; display: flex; flex-wrap: wrap; padding-top: 2rem; }
.about article { flex: 0 0 auto; width: 100%; box-sizing: border-box; padding: 0 1rem; margin-bottom: 2rem; }
.about article .content { display: flex; border: 1px solid #eee; border-radius: 1rem; padding: 1rem; box-sizing: border-box; height: 100%; }
.about article .content img { height: 5rem; margin-right: 1.5rem; }
.about article h1 { font-weight: bold; font-size: 1.5rem; color: var(--color-blue-primary); }
/* .about article h1, .about article p { text-align: center; } */

.about-title { font-size: 2rem; color: var(--color-blue-primary); }

.bg-blue-primary { background-color: var(--color-blue-primary); }

body { background-image: url(../img/ag-square.png); }

.border { border: 1px solid #eee; }
.border-top { border-top: 1px solid #eee; }
.border-bottom { border-bottom: 1px solid #eee; }
.border-left { border-left: 1px solid #eee; }
.border-right { border-right: 1px solid #eee; }

.br-1 { border-radius: 1rem; }

.brand { height: 8rem; }

.btn-blue { width: 100%; cursor: pointer; box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); background-color: #1684A7; border: none; color: #fff; border-radius: 1rem; height: 3rem; text-transform: uppercase; }
.btn-success { width: 100%; cursor: pointer; box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); background-color: #28a745; border: none; color: #fff; border-radius: 1rem; height: 3rem; text-transform: uppercase; }

.btn-control { text-indent: -999999px; width: 3rem; aspect-ratio: 1/1; background: none; background-size: contain; border: none; cursor: pointer; }
.btn-control.next { background-image: url(../svg/arrow-right.svg); }
.btn-control.prev { background-image: url(../svg/arrow-left.svg); margin-right: 1rem; }

.category-notice-title { font-weight: bold; font-size: 2rem; border-bottom: 1px solid #eee; margin-bottom: 1rem; color: var(--color-blue-primary); }

.col-2 { flex: 0 0 auto; width: 16.66666666666667%; box-sizing: border-box; padding: 0 1rem; }
.col-3 { flex: 0 0 auto; width: 25%; box-sizing: border-box; padding: 0 1rem; }
.col-4 { flex: 0 0 auto; width: 33.333333333%; box-sizing: border-box; padding: 0 1rem; }
.col-6 { flex: 0 0 auto; width: 50%; box-sizing: border-box; padding: 0 1rem; }
.col-8 { flex: 0 0 auto; width: 66.66666666666667%; box-sizing: border-box; padding: 0 1rem; }
.col-9 { flex: 0 0 auto; width: 75%; box-sizing: border-box; padding: 0 1rem; }
.col-12 { flex: 0 0 auto; width: 100%; box-sizing: border-box; padding: 0 1rem; }

.container { width: 100%; padding: 0 1rem; max-width: calc(1200px + 2rem); box-sizing: border-box; margin: 0 auto; }

.course-banner { position: relative; width: 100%; height: 50vh; }
.course-banner .checkout-btn { margin-top: 1rem; cursor: pointer; padding: 1.25rem 2rem; background: none; color: #fff; border: 1px solid #fff; border-radius: 1rem; transition: all .25s; }
.course-banner .checkout-btn:hover { border: 1px solid #09A599; transform: scale(1.1); color: var(--color-green-primary); }
.course-banner img { width: 100%; height: 100%; object-fit: cover; display: block; }

.courses { margin: 0 -1rem; display: flex; flex-wrap: wrap; }
.courses .course { display: flex; flex-direction: column; flex: 0 0 auto; width: 100%; box-sizing: border-box; padding: 0 1rem; margin-bottom: 2rem; }
.courses .course h1 { font-weight: bold; flex: 1; margin-top: 1rem; }
.courses .course h1 a { text-decoration: none; color: var(--color-blue-primary); }
.courses .course img { aspect-ratio: 490/300; width: 100%; background-color: #ccc; border-radius: 1rem; object-fit: cover; transition: transform 1s; }
.courses .course img:hover { transform: scale(1.1); }
.courses .course .pricing { margin-top: 1rem; }
.courses .course .pricing-de { text-decoration: line-through; font-size: .75rem; color: var(--color-gray-primary); }
.courses .course .pricing-por, .courses .course .pricing-parcelas { font-weight: bold; }
.courses .course .pricing-por span { color: var(--color-blue-primary); }
.courses .course .pricing-cartao { font-size: .75rem; }
.courses .course .pricing-boleto { font-size: .5rem; margin-top: .5rem; }
.courses .course .pricing-boleto strong { font-weight: bold; }

.d-flex { display: flex; }
.d-flex.gap-1 { gap: 1rem; }
.d-flex.gap-2 { gap: 2rem; }

.d-flex.align-items-center { align-items: center; }
.d-flex.align-items-start { align-items: flex-start; }
.d-flex.align-items-end { align-items: flex-end; }
.d-flex.justify-content-around { justify-content: space-around; }
.d-flex.justify-content-between { justify-content: space-between; }
.d-flex.justify-content-center { justify-content: center; }
.d-flex.justify-content-end { justify-content: flex-end; }
.d-flex.flex-column { flex-direction: column; }

.desktop { display: none; }

footer { background-color: #fbfbfb; padding: 3rem 0; }
footer a { text-decoration: none; color: var(--color-gray-primary); }
footer a:hover { font-weight: bold; }
footer h1 { font-weight: bold; }
footer img { height: 5rem; }
footer p, footer a { font-size: .75rem; }

.form-control { outline: none; width: 100%; height: 3rem; border-radius: 1rem; border: none; box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); margin-bottom: 2rem; padding: 0 1.5rem; box-sizing: border-box; }
.form-label { box-sizing: border-box; padding-left: 1.4rem; color: var(--color-gray-primary); }

.fs-1 { font-size: 2.5rem!important; }
.fs-2 { font-size: 2rem!important; }
.fs-3 { font-size: 1.75rem!important; }
.fs-4 { font-size: 1.5rem!important; }
.fs-5 { font-size: 1.25rem!important; }
.fs-6 { font-size: 1rem!important; }
.fs-small { font-size: .85rem!important; }
.fw-bold { font-weight: bold!important; }

.h-50 { height: 5rem; margin-top: 2rem; }
.h-100 { height: 100%; }

.h1 { font-size: 2.5rem; margin-top: 0; margin-bottom: 0.5rem; font-weight: 500; line-height: 1.2; }
.h2 { font-size: 2rem; margin-top: 0; margin-bottom: 0.5rem; font-weight: 500; line-height: 1.2; }
.h3 { font-size: 1.75rem; margin-top: 0; margin-bottom: 0.5rem; font-weight: 500; line-height: 1.2; }
.h4 { font-size: 1.5rem; margin-top: 0; margin-bottom: 0.5rem; font-weight: 500; line-height: 1.2; }
.h5 { font-size: 1.25rem; margin-top: 0; margin-bottom: 0.5rem; font-weight: 500; line-height: 1.2; }
.h6 { font-size: 1rem; margin-top: 0; margin-bottom: 0.5rem; font-weight: 500; line-height: 1.2; }

.img-fluid { width: 100%; }
.img-80 { width: 80%; }
.img-hover { aspect-ratio: 490/300; border-radius: 1rem; }

.info-icon { height: 5rem; margin-right: 2rem; }

.left-50 { left: 50%; }

.link-all { transition: transform .5s; text-decoration: none; border: 1px solid var(--color-blue-primary); border-radius: 50rem; text-align: center; color: var(--color-blue-primary); padding: .5rem 1rem; display: block; margin: 1rem 0; }
.link-all:hover { transform: scale(110%); }

.login-form { display: flex; flex-direction: column; width: 80%; }
.login-form a { text-decoration: none; color: var(--color-blue-primary); }
.login-form input { border: none; box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); padding: 0 1.5rem; height: 3rem; outline: none; border-radius: 1rem; margin-bottom: 2rem; }
.login-form button { cursor: pointer; box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); background-color: var(--color-blue-primary); border: none; color: #fff; border-radius: 1rem; height: 3rem; text-transform: uppercase; margin-bottom: 2rem; }

.logo-container { height: 100px; display: flex; align-items: center; overflow: hidden; }

.main-nav { height: 6.25rem; }
.main-nav ul { display: none; }

.ml-50 { margin-left: 50%; }
.mr-50 { margin-right: 50%; }
.mb-2 { margin-bottom: 2rem !important; }
.mt-2 { margin-top: 2rem; }
.my-1 { margin: 1rem 0; }
.my-2 { margin: 2rem 0; }

.mobile-menu { transition: 0.75s transform; transform: translateX(-110%); box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); box-sizing: border-box; padding-top: 3rem; position: fixed; top: 0; bottom: 0; left: 0; background-color: #fff; z-index: 9999999999999; width: 75%; max-width: 300px; }
.mobile-menu.open { transform: translateX(0); }
.mobile-menu ul { display: flex; flex-direction: column; }
.mobile-menu ul li { display: flex; }
.mobile-menu ul li a { width: 100%; display: block; text-decoration: none; color: var(--color-blue-primary); padding: 0.5rem 2rem; box-sizing: border-box; border-bottom: 1px solid #eee; }
.mobile-menu-btn { display: block; background: none; border: none; background-image: url(../svg/menu.svg); background-repeat: no-repeat; background-size: contain; text-indent: -99999px; width: 2rem; height: 2rem; }
.mobile-menu-btn-close { position: absolute; top: 1rem; right: 1rem; background: none; border: none; background-image: url(../svg/close.svg); background-repeat: no-repeat; background-size: contain; text-indent: -99999px; width: 1rem; height: 1rem; }

.module { padding: 1rem; border: 1px solid #ccc; margin: 0.5rem; border-radius: 1rem; }

.notice h1 a { text-decoration: none; color: var(--color-blue-primary); }
.notice h1 { font-weight: bold; }
.notice img { aspect-ratio: 490/300; width: 100%; object-fit: cover; border-radius: 1rem; }

.offset-6 { margin-left: 50%; }

.overflow-hidden { overflow: hidden; }

.position-absolute { position: absolute; }
.position-relative { position: relative; }

.profs { display: flex; justify-content: center; gap: 2rem; flex-wrap: wrap; }
.prof { display: flex; flex-direction: column; align-items: center; }
.prof img { aspect-ratio: 1/1; width: 7.5rem; border-radius: 50rem; }

.p-2 { box-sizing: border-box; padding: 2rem; }
.px-2 { box-sizing: border-box; padding: 0 2rem; }
.pt-2 { padding-top: 2rem; }
.py-3 { padding: 5rem 0; }
.py-6 { padding: 8rem 0; }
.py-2 { padding: 1rem 0; }

.row { margin: 0 -1rem; display: flex; flex-wrap: wrap; }

.search-form { display: none; border: 1px solid #fff; padding: .25rem 1rem; border-radius: 50rem; }
.search-form input { background: none; border: none; outline: none; color: white; }
.search-form button { text-indent: -99999px; aspect-ratio: 1/1; width: 1rem; background: none; border: none; background-image: url(../svg/search.svg); background-repeat: no-repeat; background-size: contain; cursor: pointer; }

.search-form input::placeholder { color: #fff; opacity: 1; }
.search-form input:-ms-input-placeholder { color: #fff; }
.search-form input::-ms-input-placeholder { color: #fff; }

.slide { position: relative; }
.slide .slide-buttons { position: absolute; bottom: 5%; left: 50%; transform: translateX(-50%); display: flex; align-items: center; gap: 1rem; }
.slide .slide-buttons .slide-control { height: 0.75rem; width: 0.75rem; padding: 0; margin: 0; border-radius: 50rem; border: none; background-color: #ccc; cursor: pointer; }
.slide .slide-buttons .slide-control.active { background-color: #4d4d4d; }
.slide .slide-imgs img { aspect-ratio: 1200/400; object-fit: cover; width: 100%; background-color: #f5f5f5; border-radius: 1rem; }

.social-icon { height: 1rem; fill: var(--color-gray-primary); }

.testimonials { margin: 0 -1rem; display: flex; flex-wrap: nowrap; padding: 1rem 0; }
.testimonials .testimonial { flex: 0 0 auto; width: 100%; padding: 0 1rem; box-sizing: border-box; transform: translateX(-100%); transition: transform .75s; }
.testimonials .testimonial .content { background-color: #fbfbfb; box-sizing: border-box; padding: 1.5rem; border-radius: 1rem; }
.testimonials .testimonial .content .header { display: flex; }
.testimonials .testimonial .content .header div { display: flex; flex-direction: column; justify-content: center; }
.testimonials .testimonial .content .header div h1 { font-weight: bold; }
.testimonials .testimonial .content .header img { height: 4rem; aspect-ratio: 1/1; border-radius: 50rem; margin-right: 1rem; }
.testimonials .testimonial .content .text { margin-top: 1rem; }

.text-center { text-align: center; }
.text-right { text-align: end; }

.text-decoration-none { text-decoration: none; }
.text-gray-primary { color: var(--color-gray-primary); }
.text-green-primary { color: var(--color-green-primary); }
.text-blue-primary { color: var(--color-blue-primary); }
.text-yellow-primary { color: var(--color-yellow-primary); }
.text-success { color: #28a745!important; }
.text-red { color: #dc3545!important; }
.text-white { color: #fff; }

.top-layer { z-index: 9999999; }

.top-0 { top: 0; }
.left-0 { left: 0; }
.right-0 { right: 0; }
.bottom-0 { bottom: 0; }
.top-nav { height: 3.125rem; }

.topic img { height: 3rem; }

.translate-middle-x { transform: translateX(-50%); }

.vh-100 { height: 70vh; }

.w-75 { width: 75%; }
.w-100 { width: 100%; }

.whats-link { position: fixed; box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); background-color: #fff; bottom: 1.5rem; right: 1.5rem; display: flex; gap: .5rem; align-items: center; text-decoration: none; color: var(--color-green-primary); border: 1px solid var(--color-green-primary); border-radius: 50rem; padding: 1rem; }
.whats-link img { height: 2rem; }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px)
{
    .col-sm-2 { flex: 0 0 auto; width: 16.66666666666667%; box-sizing: border-box; padding: 0 1rem; }
    .col-sm-3 { flex: 0 0 auto; width: 25%; box-sizing: border-box; padding: 0 1rem; }
    .col-sm-4 { flex: 0 0 auto; width: 33.333333333%; box-sizing: border-box; padding: 0 1rem; }
    .col-sm-6 { flex: 0 0 auto; width: 50%; box-sizing: border-box; padding: 0 1rem; }
    .col-sm-8 { flex: 0 0 auto; width: 66.66666666666667%; box-sizing: border-box; padding: 0 1rem; }
    .col-sm-9 { flex: 0 0 auto; width: 75%; box-sizing: border-box; padding: 0 1rem; }
    .col-sm-12 { flex: 0 0 auto; width: 100%; box-sizing: border-box; padding: 0 1rem; }

    .courses .course { display: flex; flex-direction: column; flex: 0 0 auto; width: 50%; box-sizing: border-box; padding: 0 1rem; margin-bottom: 2rem; }
    .testimonials .testimonial { flex: 0 0 auto; width: 50%; padding: 0 1rem; box-sizing: border-box; transform: translateX(-100%); transition: transform .75s; }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)
{
    .col-md-2 { flex: 0 0 auto; width: 16.66666666666667%; box-sizing: border-box; padding: 0 1rem; }
    .col-md-3 { flex: 0 0 auto; width: 25%; box-sizing: border-box; padding: 0 1rem; }
    .col-md-4 { flex: 0 0 auto; width: 33.333333333%; box-sizing: border-box; padding: 0 1rem; }
    .col-md-6 { flex: 0 0 auto; width: 50%; box-sizing: border-box; padding: 0 1rem; }
    .col-md-8 { flex: 0 0 auto; width: 66.66666666666667%; box-sizing: border-box; padding: 0 1rem; }
    .col-md-9 { flex: 0 0 auto; width: 75%; box-sizing: border-box; padding: 0 1rem; }
    .col-md-12 { flex: 0 0 auto; width: 100%; box-sizing: border-box; padding: 0 1rem; }

    .about article { flex: 0 0 auto; width: 50%; box-sizing: border-box; padding: 0 1rem; margin-bottom: 2rem; }
    .search-form { display: block; border: 1px solid #fff; padding: .25rem 1rem; border-radius: 50rem; }
    .main-nav ul { display: flex; }

    .mobile-menu-btn { display: none; }

    .py-md-6 { padding: 8rem 0; }
    .h-50 { height: 50%; }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px)
{
    .col-lg-2 { flex: 0 0 auto; width: 16.66666666666667%; box-sizing: border-box; padding: 0 1rem; }
    .col-lg-3 { flex: 0 0 auto; width: 25%; box-sizing: border-box; padding: 0 1rem; }
    .col-lg-4 { flex: 0 0 auto; width: 33.333333333%; box-sizing: border-box; padding: 0 1rem; }
    .col-lg-6 { flex: 0 0 auto; width: 50%; box-sizing: border-box; padding: 0 1rem; }
    .col-lg-8 { flex: 0 0 auto; width: 66.66666666666667%; box-sizing: border-box; padding: 0 1rem; }
    .col-lg-9 { flex: 0 0 auto; width: 75%; box-sizing: border-box; padding: 0 1rem; }
    .col-lg-12 { flex: 0 0 auto; width: 100%; box-sizing: border-box; padding: 0 1rem; }

    .course-banner { position: relative; width: 100%; aspect-ratio: 1920/600; }

    .courses .course { display: flex; flex-direction: column; flex: 0 0 auto; width: 33.33333%; box-sizing: border-box; padding: 0 1rem; margin-bottom: 2rem; }
    
    .desktop { display: block; }
    .testimonials .testimonial { flex: 0 0 auto; width: 33.3333%; padding: 0 1rem; box-sizing: border-box; transform: translateX(-100%); transition: transform .75s; }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
    .col-xl-2 { flex: 0 0 auto; width: 16.66666666666667%; box-sizing: border-box; padding: 0 1rem; }
    .col-xl-3 { flex: 0 0 auto; width: 25%; box-sizing: border-box; padding: 0 1rem; }
    .col-xl-4 { flex: 0 0 auto; width: 33.333333333%; box-sizing: border-box; padding: 0 1rem; }
    .col-xl-6 { flex: 0 0 auto; width: 50%; box-sizing: border-box; padding: 0 1rem; }
    .col-xl-8 { flex: 0 0 auto; width: 66.66666666666667%; box-sizing: border-box; padding: 0 1rem; }
    .col-xl-9 { flex: 0 0 auto; width: 75%; box-sizing: border-box; padding: 0 1rem; }
    .col-xl-12 { flex: 0 0 auto; width: 100%; box-sizing: border-box; padding: 0 1rem; }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px)
{
    
}